<div class="card mb-5 mt-3 shadow-sm bg-body rounded">
    <div class="card-body">
        <div class="mb-3">
            <blockquote class="blockquote mb-4">
                <q class="fs-4 mb-4"><%= tweet.body %></q>
            </blockquote>
            <figcaption class="blockquote-footer d-flex align-items-center">
                <% if tweet.twitter_account.name === nil %>
                    <p class="my-0">The account doesn't have name</p>
                <% else %>
                    <p class="my-0">@<%= tweet.twitter_account.name %></p>
                <% end %>
            </figcaption>
        </div>
        <% if tweet.published? %>
            <%= link_to "View Tweet", "https://twitter.com/#{tweet.twitter_account.username}/status/#{tweet.tweet_id}" %>
        <% else %> 
            <p>Scheduled for <%= l tweet.publish_at, format: :long   %></p>
        <% end %>       
        <%= link_to "Edit Tweet", edit_tweet_path(tweet) %>
    </div>
</div>
