<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm p-3 mb-5 bg-body px-5">
  <div class="container-fluid">
  <%= link_to "Navbar", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "About", about_us_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Twitter Accounts", twitter_accounts_path, class: "nav-link" %>
        </li>
      </ul>
        <div class="d-flex align-items-center">
        <% if Current.user %>
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav me-3">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <%= Current.user.email %>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li>
                    <%= link_to 'Change Password', edit_password_path, class: "dropdown-item"%>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">LoremIpsum</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">LoremIpsum</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
            <%= button_to 'Logout', logout_path, method: :delete ,class: "btn btn-outline-danger me-3" %>
        <% else %>
          <%= link_to 'SignUp', sign_up_path, class: "text-reset text-decoration-none me-3" %>
          <%= link_to 'SignIn', sign_in_path, class: "text-reset text-decoration-none me-3"%>    
        <% end %>
         
        </div>
    </div>
  </div>
</nav>